#form {
    max-width: 50%;
    margin-left: 25%;
    padding: 110px;
    
}

body {
    background-image: url(pictures/socialmedia.png);
    background-size:cover;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    
  

    
    
}

.form-control {
    border-radius: 9px;
}

#button {
    border-radius: 9px;
    
}

#signup {
    font-weight: 700;
}